<template lang="pug">
    .wrapper
        .wrapper__content(v-for="(container,i) in containers" :key="i")
            Header(:title="container.title" :count="container.count" :class="'bg' + (i+1)")
            Footer(:index="i")
</template>

<script>
import { mapGetters } from "vuex";
import Header from "../header/Header.vue";
import Footer from "../footer/Footer.vue";
export default {
  data: () => ({}),
  computed: { ...mapGetters({ containers: "receiveContainers" }) },
  components: {
    Footer,
    Header
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/__mixins.scss";

.wrapper {
  @include flexWrap;
  justify-content: space-around;

  width: 100%;

  margin-top: 25px;

  &__content {
    font-size: 14px;

    margin: 0 20px 20px 20px;
    width: 235px;

    color: $color_white;
  }
  .bg1 {
    background-color: $color_orange;
  }
  .bg2 {
    background-color: $color_blue;
  }
  .bg3 {
    background-color: $color_yellow;
  }
  .bg4 {
    background-color: $color_green;
  }

  @include phones615 {
    display: flex;
    justify-content: center;
  }
}
</style>

