<template lang="pug">
    .cards
        Draggable(:list="cardsArray" @start="startDrug"
                   class="drag-area" :group="{name: 'cardsArray'}" :move="checkMove")
            .cards__wrapper(v-for="(item,i) in cardsArray" :key="i")
              .cards__wrapper_remove(@click="closeCard(i, index)")
              span.cards__wrapper_id id: {{ item.id }}
              span.cards__wrapper_content {{ item.content }}
</template>

<script>
import Draggable from "vuedraggable";
import { mapActions, mapGetters } from "vuex";
export default {
  methods: {
    ...mapActions(["decreaseIndex", "removeCard", "removeDraggableCard", "shuffleCards"]),
    closeCard(innerIndex, index) {
      this.removeCard({ index, innerIndex });
    },
    checkMove(e){
      let cardIndex = e.draggedContext.index;
      let outerIndex = this.index;
      this.removeDraggableCard({ cardIndex, outerIndex });
    },
    startDrug() {
      let index = this.index;
      this.decreaseIndex({ index });
    }
  },
  computed: {
    ...mapGetters({
      hold: "getHold",
      progress: "getProgress",
      review: "getReview",
      approved: "getApproved"
    }),
    cardsArray: {
      get: function() {
        let resultArr;
        switch (this.index) {
          case 0:
            resultArr = this.hold;
            break;
          case 1:
            resultArr = this.progress;
            break;
          case 2:
            resultArr = this.review;
            break;
          case 3:
            resultArr = this.approved;
            break;
        }
        return resultArr;
        console.log(resultArr);
      },
      set: function(newValue) {
        const position = this.ind;
        this.shuffleCards({ position, newValue });
      }
    }
  },
  components: {
    Draggable
  },
  props: {
    index: {
      type: Number,
      required: true,
      default: 0
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/__mixins.scss";

.cards {
  .drag-area {
    min-height: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    margin: 5px;

    background-color: $color_black;

    &_remove {
      position: relative;

      cursor: pointer;

      &:before,
      &:after {
        content: " ";
        position: absolute;
        top: 4px;
        right: 11px;
        height: 12px;
        width: 2px;
        background-color: $color_grey;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    &_id {
      padding: 20px 20px 10px 20px;
    }

    &_content {
      padding: 10px 20px 20px 20px;

      word-wrap: break-word;
    }
  }
}
</style>

