<template lang="pug">
    .header
        span.header__description {{ titleContent }}
        span.header__cards ({{ cardsCount }})
</template>

<script>
export default {
  data: function() {
    return {
      titleContent: this.title,
    };
  },
  computed: {
    cardsCount() {
      return this.count;
    }
  },
  props: {
    title: {
      type: String,
      required: true,
      default: "Test"
    },
    count: {
      type: Number,
      required: true,
      default: 0
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/__mixins.scss";

.header {
  padding: 12px 0 12px 12px;

  text-transform: uppercase;

  &__description {
    padding-right: 5px;
  }
}
</style>
