<template lang="pug">
    .footer
      .footer__wrapper
        Card(:index="index")
        .footer__wrapper-adding(v-if="addVisible" @click="openAdd")
          span.footer__wrapper-adding_card-plus +
          span.footer__wrapper-adding_description {{ addCardTitle }}
        .footer__wrapper-added(v-else)
          .footer__wrapper-added-container
            textarea.footer__wrapper-added-container_txarea(v-model="content")
          .footer__wrapper-added-container-buttons
            button.footer__wrapper-added-container-buttons_btn(@click="addData(ind)") {{ addCardTitle }}
            .footer__wrapper-added-container-buttons_close(@click="closeAdd")
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Card from "../card/Card.vue";
export default {
  data: () => ({
    addCardTitle: "Add card",
    addVisible: true,
    content: ""
  }),
  methods: {
    ...mapActions(["addCard", "removeCard", "shuffleCards"]),
    addData(index) {
      this.addVisible = !this.addVisible;
      let id = new Date().getTime();
      let content = this.content;
      let res = { id: id, content: content };
      this.content = "";
      this.addCard({ index, res });
    },
    closeAdd() {
      this.addVisible = !this.addVisible;
    },
    openAdd() {
      this.addVisible = !this.addVisible;
    }
  },
  computed: {
    ind() {
      return this.index;
    },
    ...mapGetters({
      hold: "getHold",
      progress: "getProgress",
      review: "getReview",
      approved: "getApproved"
    }),
    cardsArray: {
      get: function() {
        let resultArr;
        switch (this.ind) {
          case 0:
            resultArr = this.hold;
            break;
          case 1:
            resultArr = this.progress;
            break;
          case 2:
            resultArr = this.review;
            break;
          case 3:
            resultArr = this.approved;
            break;
        }
        return resultArr;
      },
      set: function(newValue) {
        const position = this.ind;
        this.shuffleCards({ position, newValue });
      }
    }
  },
  components: {
    Card
  },
  props: {
    index: {
      type: Number,
      required: true,
      default: 0
    }
  }
};
</script>


<style lang="scss" scoped>
@import "../../assets/styles/__mixins.scss";

.footer {
  &__wrapper {
    font-size: 14px;

    min-height: max-content;

    color: $color_white;
    background-color: $color_border;

    &-adding {
      @include flexAlCenter;

      padding: 15px 5px 5px 5px;

      cursor: pointer;

      &_card-plus {
        font-size: 20px;

        margin-right: 5px;
      }
    }

    &-added {
      display: flex;
      flex-direction: column;

      padding: 8px;

      &-container {
        margin-bottom: 4px;

        &_txarea {
          font-size: 12px;

          width: 214px;
          height: 60px;

          resize: none;

          color: $color_white;
          background-color: $color_grey;
        }

        &-buttons {
          @include flexAlCenter;

          &_btn {
            padding: 4px 10px;

            border: none;
            background-color: $color_grey;
            color: $color_white;
            outline: $color_grey;
          }

          &_close {
            position: relative;

            cursor: pointer;

            &:before,
            &:after {
              content: " ";
              position: absolute;
              top: -8px;
              left: 15px;
              height: 15px;
              width: 2px;
              background-color: $color_grey;
            }
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
</style>

