<template lang="pug">
  #app
    Wrapper
</template>

<script>
import Wrapper from './components/wrapper/Wrapper.vue';
export default {
  name: "app",
  components: {
    Wrapper
  }
};
</script>

<style lang="scss">
@import "./assets/styles/__mixins.scss";
body {
  background-color: $color_background;
}

#app {
  // margin: 50px 30px 0 30px;

  // background-color: $color_white;
}
</style>
