$color_orange: #ff6600;
$color_blue: #3366ff;
$color_yellow: #f4ce46;
$color_green: #00cc99;
$color_background: #33353d;
$color_black: #1b1d20;
$color_border: #2b2d33;
$color_white: #fff;
$color_grey: #b1aeae;

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexAlCenter {
  display: flex;
  align-items: center;
}

@mixin phones615 {
  @media (min-width: 320px) and (max-width: 618px) {
    @content;
  }
}
